/* full_page */
.project,
.half-page,
.half-page img{
  width: 100%;
}
.half-page{
  height: 50%;
  z-index: -1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.half-page img{
  min-height: 100%;
  position: absolute;
  z-index: -2;
  filter:brightness(40%);
}
.project{
  padding: 17px 10%;
  box-sizing: border-box;
  min-height: 50%;
}
.painel{
  width: 20%;
  min-width: 300px;
  background-color: #fff;
  padding: 50px;
  position: absolute;
  min-height: 60vh;
  left: 5%;
  top: 25%;
  transition:  left 0.2s;
}
.project_images{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .half-page h1{
    font-size: 65px;
  }
  .painel{
    left: 0;
  }
}